html {
  background-color: #EEE;
}
body {
  margin: 10px;
}
h1 {
  font-size: 200%;
  font-weight: bold;
}

ul.grf-modcontainer {
  position:relative;
}
.grf-modcontainer li.mod {
  position:relative; 
  overflow:hidden;
  border: 1px inset #000; 
  background-color:white;
  margin:10px 10px 0 0;
  float:left;

  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
}
.grf-modcontainer li.mod div.resizer {
  position:absolute;
  bottom:0; right:0;
  border: 5px solid; 
  border-color:transparent #CCC #CCC transparent;
}

.grf-modcontainer li.loading {
  border-style:dashed;
}
.grf-modcontainer li.loading .content{
  visibility:hidden;
}
.grf-modcontainer li.positioned {
  border-style:outset;
}

.grf-modcontainer h2 {
  font-weight: bold;
  background-color:#CCC;
}
.grf-modcontainer h2, .mod .content {
  padding:3px;
}

