html {
  background-color: #EEE;
}
body {
  margin: 10px;
}
h1 {
  font-size: 200%;
  font-weight: bold;
}

ul.grf-modcontainer {
  position:relative;
}
.grf-modcontainer li.mod {
  position:relative; 
  overflow:hidden;
  border: 1px solid #333; 
  background-color:white;
  margin:10px 10px 0 0;
  float:left;

  border-radius:0 0 0 6px;
  -moz-border-radius:0 0 0 6px;
  -webkit-border-radius:0 0 0 6px;
  
  box-shadow: 3px 3px 5px black;
  -moz-box-shadow: 3px 3px 5px black;
  -webkit-box-shadow: 3px 3px 5px black;
}
.grf-modcontainer li.mod div.resizer {
  position:absolute;
  bottom:0; right:0;
  border: 5px solid; 
  border-color:transparent #CCC #CCC transparent;
}

.grf-modcontainer li.loading {
  border-style:dashed;
}
.grf-modcontainer li.loading .content{
  visibility:hidden;
}

.grf-modcontainer .mod h2 {
  font-weight: bold;
  background-color:#BBB;
  padding:3px 6px;
}
.grf-modcontainer .mod .content {
  padding:6px;
}
.grf-modcontainer li.prepositioned h2 {
  background-color:orange;
}
.grf-modcontainer li.positioned h2 {
  background-color:yellow;
}



.grf-modcontainer li.clearstorage .content {
  font-size:77%; text-align:center;
}
.grf-modcontainer li.clearstorage .content button{
  margin-top:6px;
}