html {
  background: #EEE -moz-linear-gradient( left center, #666 0%, #fff 50%, #666 100% );
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #666), color-stop(0.5, #fff), color-stop(1, #666) );
}

body {
  width:800px;
  margin:10px auto;
}
strong {
  font-weight:bold;
}
em {
  font-style:italic;
}
.small {
  font-size:85%;
}
h1 {
  font-size: 200%;
  font-weight: bold;
}
a {
  text-decoration:none;
}
a:hover {
  text-decoration:underline;
}
ul.grf-modcontainer {
  position:relative;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  height:111px;
}
.grf-modcontainer li.mod {
  position:relative; 
  overflow:hidden;
  border: 1px solid black; 
  background-color:white;
  margin:10px 10px 0 0;
  float:left;
}
.grf-modcontainer li.mod div.resizer {
  position:absolute;
  bottom:0; right:0;
  border: 5px solid; 
  border-color:transparent #333 #333 transparent;
}

.grf-modcontainer li.loading {
  border-style:dashed;
}

.grf-modcontainer .mod h2 {
  background-color:orange;
  color:black;
  padding:.4em 6px;
  white-space:nowrap;
}
.grf-modcontainer .mod h2 a {
  color:inherit;
}
.grf-modcontainer .mod h2 span {

  font-weight: bold;
}

.grf-modcontainer .mod .content {
  padding:6px;
  -moz-user-select: text;
  -webkit-user-select: text;
}

.grf-modcontainer li.prepositioned,
.grf-modcontainer li.positioned {
  border-radius:0 0 0 6px;
  -moz-border-radius:0 0 0 6px;
  -webkit-border-radius:0 0 0 6px;
  
  box-shadow: 3px 3px 5px black;
  -moz-box-shadow: 3px 3px 5px black;
  -webkit-box-shadow: 3px 3px 5px black;
}

/* --- WELCOME MODULE ------------------------------------------------------------------------------ */
.grf-modcontainer li.welcome p {
  margin:6px 0;
}


/* --- LOCALSTORAGE ------------------------------------------------------------------------------ */
.grf-modcontainer li.localstorage {
  font-size:77%; text-align:center; 
}
/* --- TWITTER ------------------------------------------------------------------------------ */
.grf-modcontainer li.twitter ol li {
  padding:10px 0;
  border-top:1px dotted #CCC;
}
.grf-modcontainer li.twitter ol li.item0 {  border-top:0px none; padding-top:5px; }

.grf-modcontainer li.twitter ol li .text { font-size: 77%; }
.grf-modcontainer li.twitter ol li.item0 .text { font-size: 250%; }
.grf-modcontainer li.twitter ol li.item1 .text { font-size: 140%; }
.grf-modcontainer li.twitter ol li.item2 .text { font-size: 130%; }
.grf-modcontainer li.twitter ol li.item3 .text { font-size: 120%; }
.grf-modcontainer li.twitter ol li.item4 .text { font-size: 110%; }
.grf-modcontainer li.twitter ol li.item5 .text { font-size: 100%; }
.grf-modcontainer li.twitter ol li.item6 .text { font-size: 92%; }
.grf-modcontainer li.twitter ol li.item7 .text { font-size: 85%; }


.grf-modcontainer li.twitter ol .meta {
  font-size:77%; color:gray;
  line-height:1em;
}
.grf-modcontainer li.twitter ol .meta a {
  color:gray;
  text-decoration:none;
}
.grf-modcontainer li.twitter ol .meta a:hover {
  text-decoration:underline;
}

/* --- FLICKR ------------------------------------------------------------------------------ */
.grf-modcontainer li.flickr ol li {
  float:left;
}
.grf-modcontainer li.flickr ol li img {
  border:1px solid white;
  display:block;
}
.grf-modcontainer li.flickr ol li img:hover {
  rotation: 9deg;
  -webkit-transform: rotate(9deg);
  -moz-transform: rotate(9deg);
}

/* --- GENERIC FEED STYLE ------------------------------------------------------------------------------ */
.grf-modcontainer li.genericfeed ol li {
  margin-bottom:9px;
  line-height:1em;
}
.grf-modcontainer li.genericfeed ol li .when {
  font-size:77%;
  color:gray;
}
.grf-modcontainer li.genericfeed ol li .details {
  font-size:85%;
}
.grf-modcontainer li.genericfeed ol li blockquote {
  font-style: italic;
}
